{% extends 'mail_messages/base.html' %}
{% block title %} Подтверждение удаления рассылки {% endblock %}
{% block content %}
{% include 'mail_messages/header.html' %}
<div class="col-lg-3 col-md-6 col-sm-12" >
    <div class="card mb-4 box-shadow">
        <div class="card-body" >
          <h1 class="mb-4"> Внимание! Удаление рассылки!</h1>
          <p>Вы уверены, что хотите удалить рассылку сообщения с темой: "{{ object.message.theme_mail }}"?</p>
            <form method="post" action="" class="form-floating">
                {% csrf_token %}
                <button type="submit" class="btn btn-lg btn-block btn-outline-danger">Удалить</button>
                <a class="btn btn-primary" href="{% url 'mail_messages:list_mailing' %}" role="button">Отмена</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}