{% extends 'mail_messages/base.html' %}
{% block title %} Создание сообщения для рассылки {% endblock %}
{% block content %}
{% include 'mail_messages/header.html' %}
<div class="container">
    <h2 class="card-title pricing-card-title">Просмотр сообщения:</h2>
            <p>Тема: {{ object.theme_mail }}</p>
            <p>Текст: {{ object.text_mail }}</p>
    <a class="btn btn-primary" href="{% url 'mail_messages:list_email'%}" role="button">Назад</a>
    <a class="btn btn-primary" href="{% url 'mail_messages:update_email' object.id %}" role="button">Изменить</a>
    <a class="btn btn-danger" href="{% url 'mail_messages:confirm_delete_message' object.id %}" role="button">Удалить</a>

</div>
{% endblock %}