<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <div class="container">
      <div class="row">
          <div class="col-1">
            <a class="p-2 btn btn-outline-primary" href="{% url 'mail_messages:home' %}">Главная</a>
          </div>
          <div class="col-8">
              {% if user.is_authenticated %}
              <nav class="ms-5">
                <div class="btn-group">
                  <button type="button" class="p-2 btn btn-outline-primary">Рассылки</button>
                  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'mail_messages:list_mailing' %}">Посмотреть рассылки</a></li>
                    <li><a class="dropdown-item" href="{% url 'mail_messages:create_mailing' %}">Создать рассылку</a></li>
                  </ul>
                </div>
                <div class="btn-group">
                  <button type="button" class="p-2 btn btn-outline-primary">Сообщения</button>
                  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'mail_messages:list_email' %}">Посмотреть сообщения</a></li>
                    <li><a class="dropdown-item" href="{% url 'mail_messages:create_email' %}">Создать сообщение для рассылки</a></li>
                  </ul>
                </div>
                <div class="btn-group">
                  <button type="button" class="p-2 btn btn-outline-primary">Клиенты</button>
                  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'mail_recipients:list_mail_recipient' %}">Посмотреть клиентов</a></li>
                    <li><a class="dropdown-item" href="{% url 'mail_recipients:create_mail_recipient' %}">Создать клиента для рассылки</a></li>
                  </ul>
                </div>
                <div class="btn-group">
                  <button type="button" class="p-2 btn btn-outline-primary">Пользователи</button>
                  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'users:user_list' %}">Посмотреть пользователей</a></li>
                  </ul>
                </div>
              </nav>
              {% endif %}
          </div>
          <div class="col-3">
            {% if user.is_authenticated %}
            <form action="{% url 'users:logout' %}" method="post">
                {% csrf_token %}
                <a class="btn btn-primary btn-sm" href="{% url 'users:user_detail' user.id%}" role="button">{{ user }}</a>
                <button type="submit" class="p-2 btn btn-inline-danger">Выйти</button>
            </form>
            {% else %}
            <a class="p-2 btn btn-inline-primary" href="{% url 'users:login' %}">Войти</a>
            <a class="btn btn-primary" href="{% url 'users:new_user_create' %}" role="button">Регистрация</a>
            {% endif %}
          </div>
      </div>
    </div>
</div>

