{% extends 'mail_messages/base.html' %}
{% block title %} Список сообщений {% endblock %}
{% block content %}
{% include 'mail_messages/header.html' %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    {% if not 'Moderator' in user.groups.all|join:',' %}
    <h1 class="display-4">Ваши сообщения</h1>
    {% else %}
    <h1 class="display-4">Сообщения пользователей для рассылок</h1>
    {% endif %}
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col" class="col-2">Номер п/п</th>
      <th scope="col" class="col-3">Тема сообщения</th>
      <th scope="col" class="col-6">Текст сообщения</th>
      {% if not 'Moderator' in user.groups.all|join:',' %}
      <th scope="col" class="col-1"></th>
      {% else %}
      <th scope="col" class="col-6">Создатель сообщения</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
  {% for object in objects_list %}
    <tr>
      <th scope="row">{{ object.id }}</th>
      <td>{{ object.theme_mail }}</td>
      <td>{{ object.text_mail | truncatechars:100 }}</td>
      <td >
        {% if not 'Moderator' in user.groups.all|join:',' %}
        <a class="btn btn-primary btn-sm" href="{% url 'mail_messages:detail_email' object.id %}" role="button">Подробнее</a>
        {% else %}
        <a class="btn btn-primary btn-sm" href="{% url 'users:user_detail' object.owner.id %}" role="button">{{ object.owner }}</a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}