{% extends 'mail_messages/base.html' %}
{% block title %} Создание сообщения для рассылки {% endblock %}
{% block content %}
{% include 'mail_messages/header.html' %}
<form method="post" action="" class="form-floating" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">Создать получателя сообщения</button>
    <a class="btn btn-primary" href="{% url 'mail_recipients:list_mail_recipient'%}" role="button">Назад</a>
</form>
{% endblock %}